body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #3A4245;
}

.section-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.section {
  width: 100%;
  max-width: 960px;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
}

h2 small {
  display: block;
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: row;
}

a {
  color: #43576E;
  text-decoration: none;
  transition: all 0.2s linear;
}

a:focus,
a:hover {
  color: #999;
  text-decoration: underline;
}

a.light {
  color: #fff;
  text-decoration: underline;
}

a.light:focus,
a.light:hover {
  color: #999;
  text-decoration: none;
}

.image-text {
  margin-right: 15px;
}

.image-text.link {
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.image-text.link:hover {
  opacity: 0.8;
}

.menu {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.menu img,
.top img {
  width: 20px;
}

.bank {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .menu {
    position: static;
    display: block;
    background: #F2EEE7;
    padding: 10px 10px 0;
    margin-bottom: -30px;
  }

  .bank {
    width: 100%;
  }
}
